.contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Arial Black", Arial, sans-serif;
}

.mapa iframe {
  width: 600px;
  height: 100%;
}

.input {
  font-family: "Arial Black", Arial, sans-serif;
}

form {
  width: 100%;
  height: 80%;
}

.mapa {
  border-left: 1px dotted #f5c800;
  border-right: 1px dotted #f5c800;
}

.form_contato {
  height: 100%;
  width: 40%;
}

.form_contato h1 {
  color: #f5c800;
  text-align: center;
  margin: 5px 0px 0px 0px;
  font-size: 30px;
  padding: 10px 0;
}

form {
  height: 100%;
  width: 100%;
}

textarea {
  width: 95%;
  font-size: 16px;
  margin: 15px 20px;
  border: 1px solid;
  padding-left: 6px;
  font-family: "Arial Black", Arial, sans-serif;
}

.obs {
  display: block;
  font-size: 16px;
  margin: 5px 20px;
  margin-top: 10px;
  padding-left: 2px;
  font-family: "Arial Black", Arial, sans-serif;
}

.botao {
  float: right;
  width: 100px;
  margin: 15px 56px;
  background-color: #f5c800;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.06);
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 13px;
}

@media only screen and (max-width: 990px) {
  .contato {
    height: 100%;
  }

  .form_contato h1 {
    font-size: 20px;
    padding: 10px 0;
  }
}
